.user-info-form {
  display: flex;
  flex-direction: row;
  margin: 1em;
  justify-content: center;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 10px;
}

.form-labels {
  text-align: left;
  font-weight: bold;
}

.form-values {
  font-style: italic;
}
